<p-growl [value]="msgs"></p-growl>

<div class="ui-g-6">
    <div>
        <p-dataTable [value]="processes" resizableColumns="true" selectionMode="single"
                     expandableRows="true"
                     (onRowSelect)="onRowSelect($event)"
                     (onRowUnselect)="onRowUnselect($event)" dataKey="id"
                     [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
            <p-column [style]="{'width':'35px'}" expander="true" styleClass="col-icon"></p-column>
            <p-column field="name" header="Name"></p-column>
            <p-column field="description" header="Version"></p-column>
            <ng-template let-process pTemplate="rowexpansion">
                <!--<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">-->
                    <div class="ui-grid-row">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4 label">Id: </div>
                                <div class="ui-grid-col-8">{{process.id}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4 label">Name: </div>
                                <div class="ui-grid-col-8">{{process.displayName}} ({{process.version}})</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4 label">Description: </div>
                                <div class="ui-grid-col-8">{{process.displayDescription}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4 label">Deployment date: </div>
                                <div class="ui-grid-col-8">{{process.deploymentDate}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4 label">Deployed by: </div>
                                <div class="ui-grid-col-8">{{process.deployedBy}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4 label">State: </div>
                                <div class="ui-grid-col-7">{{process.activationState}}</div>
                                <div class="ui-grid-col-1"><i class="fa fa-search" (click)="showProcess(process)" style="cursor:pointer;float:right;"></i></div>
                            </div>
                        </div>
                        <!--<div class="ui-grid-col-1" style="text-align:center">-->
                            <!--<i class="fa fa-search" (click)="showProcess(process)" style="cursor:pointer;float:left;margin-top:40px"></i>-->
                            <!--&lt;!&ndash;<img src="assets/showcase/images/demo/car/{{car.brand}}.png">&ndash;&gt;-->
                            <!--<img src="{{process.icon}}">-->
                        <!--</div>-->
                        <!--<div class="ui-grid-col-11">-->

                        <!--</div>-->
                    </div>
                <!--</div>-->
            </ng-template>
        </p-dataTable>
    </div>
    <p-dialog header="Process Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true" width="500">
        <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProcess">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="id" class="label">Id</label></div>
                <div class="ui-grid-col-8" id="id">{{selectedProcess.id}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="displayName" class="label">Name</label></div>
                <div class="ui-grid-col-8" id="displayName">{{selectedProcess.displayName}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="displayDescription" class="label">Description</label></div>
                <div class="ui-grid-col-8" id="displayDescription">{{selectedProcess.displayDescription}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="deploymentDate" class="label">Color</label></div>
                <div class="ui-grid-col-8" id="deploymentDate">{{selectedProcess.deploymentDate}}</div>
            </div>
        </div>
    </p-dialog>

</div>
<div class="ui-g-6">
    <p-panel header="InfoPanel">
        <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProcessInfo">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="idS" class="label">Id</label></div>
                <div class="ui-grid-col-8" id="idS">{{selectedProcessInfo.id}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="displayNameS" class="label">Name</label></div>
                <div class="ui-grid-col-8" id="displayNameS">{{selectedProcessInfo.displayName}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="displayDescriptionS" class="label">Description</label></div>
                <div class="ui-grid-col-8" id="displayDescriptionS">{{selectedProcessInfo.displayDescription}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="deploymentDateS" class="label">Color</label></div>
                <div class="ui-grid-col-8" id="deploymentDateS">{{selectedProcessInfo.deploymentDate}}</div>
            </div>
        </div>
    </p-panel>
</div>


