
<h3>Tasks!</h3>

<p-tabMenu class="ui-tabmenu" [model]="items" [activeItem]="activeItem"></p-tabMenu>


<iframe src="http://localhost:8080/bonita/portal/homepage#?_p=tasklistinguser&_pf=1"
        style="width: 600px; height: 400px"></iframe>

<p-dataTable [value]="tasks">
    <p-column field="id" header="Id"></p-column>
    <p-column field="type" header="Type"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column field="displayName" header="DisplayName"></p-column>
    <p-column field="description" header="Description"></p-column>
</p-dataTable>

<button pButton type="button" (click)="logOut()" label="Log Out"></button>
