<p-growl [value]="msgs"></p-growl>

<div>
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Task list</span>
                <button pButton type="button" icon="fa-refresh" class="ui-button-info" (click)="refresh()"></button>
            </div>
        </p-header>
        <p-dataTable [value]="tasks" selectionMode="single" resizableColumns="true"
                     (onRowSelect)="onRowSelect($event)"
                     (onRowUnselect)="onRowUnselect($event)" dataKey="id"
                     [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
            <p-column field="id" header="Id"></p-column>
            <p-column field="type" header="Type"></p-column>
            <p-column field="name" header="Name"></p-column>
            <p-column field="displayName" header="DisplayName"></p-column>
            <p-column field="description" header="Description"></p-column>
        </p-dataTable>
    </p-panel>
</div>


