<p-growl [value]="msgs"></p-growl>
<div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">
        <div style="vertical-align: middle;">
            HEADER LOGO IS HERE
            <!--<div class="logo"></div>-->
            <div style="float: right">
                <!--<button pButton label="Logout" icon="fa-sign-out"></button>-->
                <p-splitButton [label]="username" icon="fa-check" [model]="splitBtnItems"></p-splitButton>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3">
                <p-menu [model]="leftMenuItems"></p-menu>
            </div>
            <div class="ui-g-9">
                <p-tabMenu class="ui-tabmenu" [model]="items"></p-tabMenu>
                <div>
                    <div *ngIf="activeItem === items[0]">
                        <div class="ui-g-8">
                            <tasks></tasks>
                        </div>
                        <div class="ui-g-4">
                            <p-panel header="InfoPanel">
                                InfoContent
                            </p-panel>
                        </div>
                    </div>
                    <div *ngIf="activeItem === items[1]">
                        <div class="ui-g-8">
                            <cases></cases>
                        </div>
                        <div class="ui-g-4">
                            <p-panel header="InfoPanel">
                                InfoContent
                            </p-panel>
                        </div>
                    </div>
                    <div *ngIf="activeItem === items[2]">
                        <processes></processes>
                    </div>
                </div>
                <!--<router-outlet></router-outlet>-->
            </div>
            <!--<div class="ui-g-2">-->
                <!--<p-panel header="InfoPanel">-->
                    <!--InfoContent-->
                <!--</p-panel>-->
            <!--</div>-->
    </div>
    <div class="ui-g-12">
        <div style="text-align: center; vertical-align: middle;">
            Footer
        </div>
    </div>
</div>





